<h1>Editar Perfil</h1>
<form action="/profile/edit" method="POST">
  <div>
    <label for="username">Novo Usuário</label>
    <input type="text" id="username" name="username" required>
  </div>
  <button type="submit">Salvar</button>
</form>
